### Packer ###
# Cache objects
packer_cache/

# For built boxes
*.box

### Terraform ###
# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
*/.terraform/modules/
.terraform/

### Vagrant ###
.vagrant/

### SSH Keys ###
*.pem

### local testing ###
hashistack/env.sh
