[Unit]
Description=Force Leave Missing Consul Peers
Requires=network-online.target consul-online.target
After=network-online.target consul-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/consul-force-leave-missing-peers-aws-ec2.sh
User=consul
Group=consul

[Install]
WantedBy=multi-user.target
