[Unit]
Description=Vault
Requires=network-online.target
After=network-online.target consul.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/vault server -config /etc/vault
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
User=vault
Group=vault

[Install]
WantedBy=multi-user.target
